/* css for /index */

@font-face {
  font-family: aqua;
  src: local("aquafont"), url("http://cympfh.github.io/fonts/aquafont.ttf");
}

a {
  color: #402020;
}

div#poster {
  opacity: 1.0;
  position: absolute;
  transition-duration:1s;
  transition-timing-function: ease-out;
  top: 40%;
  left: 40%;
}

div.icons > a.aimg > img {
  margin-bottom: 15px;
  cursor: pointer;
}

div#cont {
  font-size: 14px;
  line-height: 1.2;
  opacity: 0.0;
  transition-duration:0.3s;
  transition-property: opacity;
  position: fixed;
  left: -100%;
  top: -100%;
}

pre {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

div.hellfire {
  font-size: 3em;
  font-family: aqua;
}

dt {
  font-weight: bold;
}

dt:before {
  content: "◇";
}

dd {
  padding-left: 1em;
}
