a {
  color: #402020;
  font-size: 14px;
}
/* preview window */
div#article {
  float: right;
  display: none;
  width: 66%;
}
iframe {
  padding: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 62%;
  height: 96%; /* for scroll bar */
  border: 0;
  border-left: 1px black solid;
}

/* left menu */
div.dates {
  width: 33%;
}

hr.shorthr {
  width: 30%;
  text-align: left;
  margin-left: 0;
}

h1 {
  background-color: #fffff0;
  border-right: 10px solid #ffffc8;
  border-bottom: 2px solid #ffffd0;
  font-size: 18px;
}

h2 {
  padding-left: 10px;
  border-bottom: 1px black solid;
  font-size: 15px;
}

h1 > a {
  font-size: 18px;
}
h2 > a {
  font-size: 15px;
}
