body {
  font-size: 17px;
  color: black;
  background-color: white;
}

a {
  color: #300;
}

code {
  background-color: #fafaf0;
  padding-left: 2px;
  padding-right: 2px;
}

pre > code {
  border-left: double #dadad0 5px;
  padding-left: 10px;
  display: block;
}

/*
math {
  background-color: #fafaf0;
  border-left: double #dadad0 5px;
  padding-right: 2px;
  padding-left: 10px;
  display: block;
  text-align: left;
}
*/

h1 {
  font-size: 22px;
  color: #111;
  background-color: #fafafa;
  border-left: 10px black solid;
  padding-left: 10px;
}
h2 {
  font-size: 20px;
  border-bottom: 1px black solid;
}

table {
  border: 1px black solid;
  padding-left: 5px;
}
th {
  border-bottom: 4px #ccc solid;
}

blockquote {
  border-left: double black 8px;
  padding-left: 10px;
  background-color: #f8f8f8;
}
