body {
  margin: 0;
  padding: 0;
}

div#left {
  width: 20%;
  height: 100%;
  float: left;
}

div#right {
  width: 80%;
  height: 100%;
  float: right;
  position: fixed;
  left: 20%;
  background-color: #fafafa;
}

ul {
  padding-left: 10px;
}
li {
  font-size: 13px;
  list-style-type: none;
}
li:hover {
  color: red;
}

/* image window */
div.iw0 {
  width: 100%;
  height: 30px;
}
div.iw1 {
  text-align: center;
  width: 100%;
  height: 50%;
}
div.iw2 {
  float: left;
  width: 48%;
}
div.iw3 {
  float: right;
  width: 48%;
}

img.imgwin {
  max-width: 100%;
  max-height: 100%;
}

.urltext {
  width: 100%;
}

div.help {
  opacity: 0.0;
  position: absolute;
  z-index: 88;
  left: 50%;
  width: 40%;
  top: 20%;
  height: 60%;
  background-color: #fcf7f7;
  transition-duration: 1s;
  border: white 10px solid;
}
