body {
  color: #201010;
  background-color: white;
  margin: 2em;
  padding: 0;
  width: 42em;
  font-size: 16px;
  font-family: 'aquafont', Consolas, 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

/* main title for a page */
h1 {
  border-bottom: 1px black dotted;
  font-family: 'eufm10', 'aquafont', Meiryo, メイリオ, serif;
}

/* in a page */

a {
  color: #600;
  font-weight: bold;
  font-size: 17px;
}

img {
  max-width: 670px;
}

p {
}

code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px;
  background-color: #fff9f9;
  border: 1px solid orange;
}

pre code {
  display: block;
  padding: 3px;
  background-color: #fff9f9;
  border: 1px solid orange;
  border-left: 9px solid orange;
  border-right: 0;
}

blockquote {
  background-color: #fffcfc;
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #0f0f0f;
  border-left: 11px solid #1f0f0f;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 0;
}

