body {
  color: #401010;
  background-color: #efefef;
  width: 52em;
  font-size: 16px;
}

code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px;
  background-color: #f2f2f2;
  border: 1px solid orange;
}
pre code {
  display: block;
  padding: 3px;
  background-color: #f2f2f2;
  border: 1px solid orange;
  border-left: 9px solid orange;
}

blockquote {
  background-color: #fafafa;
  border: 1px dashed black;
  border-left: 12px solid black;
  padding-left: 12px;
}

a {
  color: #600;
  font-weight: bold;
  font-size: 18px;
}
