body {
  color: black;;
  background-color: #efefef;
  width: 32em;
}

code {
  display: block;
  padding: 3px;
  background-color: #e0e0e0;
  border: 1px solid orange;
  border-left: 9px solid orange;
}

blockquote {
  background-color: #fffafa;
  border: 1px solid black;
  padding: 3px;
}

