@font-face {
  font-family: aqua;
  src: local("aquafont"), url("http://cympfh.github.io/fonts/aquafont.ttf");
}

body {
  color: #201010;
  background-color: white;
  margin: 2em;
  padding: 0;
  width: 42em;
  font-size: 16px;
  font-family: aqua, Consolas, 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

/* main title for a page */
h1 {
  border-bottom: 1px black dotted;
  text-align: right;
  font-family: 'eufm10', 'aquafont', Meiryo, メイリオ, serif;
  font-size: 15px;
}

h2 {
  border-bottom: 1px black dotted;
  font-family: 'Consolas', Meiryo, メイリオ, serif;
}

/* in a page */

a {
  color: #600;
  font-weight: bold;
  font-size: 17px;
}

img {
  max-width: 670px;
}

p {
}

code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px;
  background-color: #fff9f9;
  border: 1px solid orange;
}

pre code {
  display: block;
  padding: 3px;
  background-color: #fff9f9;
  border: 1px solid orange;
  border-left: 9px solid orange;
  border-right: 0;
}

blockquote {
  background-color: #f0f0f0;
  padding: 3px;
  padding-left: 12px;
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

thead > tr > th {
  border-bottom: 1px gray dotted;
}

tr.odd {
  background-color: #f0f0f0;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
