body {
  width: 960px;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;

  /* default color */
  color: black;
  background-color: white;

  font-size: 12px;
  width: 80px;
  float: left;

  margin: 0;
  padding: 2px;
}

/* menu for each articles */
div.dates {
  font-size: 0.8em;
  width: 340px;
  float: left;
}

a:visited {
  border: 1px dashed white;
}

/* preview window */
div#article {
  float: right;
  display: none;
  width: 620px;
}
iframe {
  padding: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 69%;
  height: 96%; /* for scroll bar */
  border: 0;
  border-left: 1px black solid;
}

.jan { color: #f0f0f0; background-color: #001010; }
.feb { color: #f0f0f0; background-color: #103030; }
.mar { color: #f0f0f0; background-color: #204040; }
.apr { color: #401010; background-color: #708080; }
.may { color: #702020; background-color: #809090; }
.jun { color: #101010; background-color: #bad0d0; }
.jul { color: #101010; background-color: #c7c7c7; }
.aug { color: #101010; background-color: #c7cfcf; }
.sep { color: #101010; background-color: #d0d0d0; }
.oct { color: #101010; background-color: #dadada; }
.nov { color: #101010; background-color: #dfdfdf; }
.dec { color: #101010; background-color: #fafafa; }
