body {
  width: 960px;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  background-color: white;
  font-size: 12px;
}

/* menu for each articles */
div.dates {
  font-size: 0.8em;
  width: 340px;
  float: left;
}

a:visited {
  border: 1px dashed white;
}

/* preview window */
div#article {
  float: right;
  width: 620px;
}

iframe {
  padding: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 69%;
  height: 96%; /* for scroll bar */
  border: 0;
  border-left: 1px black solid;
}

/* article link */
a.article {
  display: block;
  text-decoration: none;

  width: 80px;
  float: left;

  margin: 0;
  padding: 4px 2px;
}

a.one {
  font-weight: bold;
  color: #f07070 !important;
  background-color: #909090 !importtant;
}
a.twelve {
  color: #f0f0f0 !important;
  background-color: #a0a0ab !important;
}
a.even {
  color: #f0f0f0;
  background-color: #909090;
}
a.odd {
  color: #707070;
  background-color: #f0f0f0;
}
a.else {
  color: #000;
  background-color: #a0a4a4;
}

a.hober {
  color: #a0a0ff;
  font-weight: bold;
  background-color: #fcfcfc;
}

