body {
  background-color: white;
  color: black;
}
a {
  font-size: 14px
}
code {
  width: 450px;
  white-space: pre;
  display: block;
  color: #faf;
  border-top: 1px solid #dad;
  border-left: 5px solid #dad;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}

div#W {
  color:white;
  background-color:black;
  font-size: 13px;
  padding: 3px;
  display: none;
}

div#D {
  display: block;
  float: left;
}

textarea {
  display: block;
  height: 200px;
  width: 450px;
  padding: 5px;
  border: 1px solid #d0d0ff;
  background-color: #fafaff;
  overflow: scroll;
}

