h2 {
  font-size: 17px;
  margin: 0;
  width: 80%;
  border-bottom: 1px black solid;
}
h2.active {
  color: black;
}
h2.inactive {
  color: #baa;
}

p {
  width: 80%;
  margin: 0 0 1em 0;
  padding-left: 10px;
  transition-duration: 1s;
}
p.active {
  color: #511;
}
p.inactive {
  color: #f0eaea;
}
a {
  color: black;
}

div.active {
  color: #f33;
}
div.inactive {
}
div.inactive:hover {
  color: #900;
}

div.notify {
  color: black;
  font-size: 12px;
  background: #add;
  padding: 2px;
  position: fixed;
  right: 5px;
  top: 5px;
  opacity: 1.0;
}

a.button {
  border: 3px #8bb solid;
  float: left;
  width: 30%;
}
