h2 {
  font-size: 17px;
  margin: 0;
  width: 80%;
  border-bottom: 1px black solid;
}
h2.active {
  color: #811;
}
h2.active:before {
  content: "! ";
}
h2.inactive {
  color: #baa;
}

p {
  width: 80%;
  margin: 0 0 1em 0;
  padding-left: 10px;
  transition-duration: 1s;
}
p.active {
  color: #511;
}
p.inactive {
  color: #f0eaea;
}
a {
  color: black;
}

div.active {
  color: #f33;
}
div.inactive {
}
div.inactive:hover {
  color: #900;
}
