body {
  font-size: 15px;
  width: 800px;
}

section {
  padding: 3px;
  margin: 10px;
  border-left: 1px solid #600;
  border-bottom: 1px solid #900;
}

div.title {
  color: black;
  font-size: 17px;
}

div.title:before {
  content: "- "
}

div.url {
}

div.url > a {
  color: #603030;
}

div.read {
  border-left: 5px #603030 solid;
  padding-left: 5px;
}

div.bibtex {
  float: right;
  background-color: #fff0f0;
}

div.bibtex > a {
  color: #802020;
}

div.memo {
  display: inline;
}

div.memo > a {
  color: #a02020;
}

div.unread {
  border-left: 5px #f03030 solid;
  padding-left: 5px;
  display: inline;
}
div.unread:before {
  content: "unread!";
  color: red;
  font-weight: bold;
}

div.filter {
  border: 1px #e0e0e0 solid;
  background-color: #fffafa;
}

div.filter > input{
  background-color: #fffafa;
  width: 80%;
  font-size: 17px;
  border: 1px solid #fffafa;
}
